#first {
    background-color: rgb(0, 107, 139);
    height: 100vh;
    background-image: url("/portfolio/assets/images/hero-banner.jpg");
}

.first {
    height: 90vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    color: white;
}

.first span {
    font-weight: 500;
    font-size: 40px;
}

#avatar {
    width: 140px;
    height: 140px;
    border: 2px solid white;
    margin: 0 2rem 5rem 0;
    border-radius: 50%;
}

.first .buttons {
    text-align: right;
    padding: 0.2rem;
}

.first .buttons button {
    margin: 0.2rem;
}